<button mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="paciente">Pacientes</button>
  <button mat-menu-item [matMenuTriggerFor]="video">Vídeos</button>
</mat-menu>

<mat-menu #paciente="matMenu">
  <button mat-menu-item (click)="goPacienteCriar()">Criar</button>
  <button mat-menu-item (click)="goPacienteConsultar()">Consultar</button>
</mat-menu>

<mat-menu #video="matMenu">
  <button mat-menu-item (click)="goVideoUpload()">Upload</button>
  <button mat-menu-item (click)="goVideoConsultar()">Consultar</button>
</mat-menu>